{% extends "base.html" %}
{% block content %}
<br>
<p>Results: {{total}}</p>
<ul>
    <div class="container" style="=background: blue;">
        <div class="list-group">
            {% for n in my_list %}
            <a href="#" class="list-group-item">

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 list-group-item-heading">
                    <span class="badge">{{n['_score']}}</span>
                </div>
                <p class="list-group-item-text" style="white-space: pre-line">
                    language? {{n['_source']['language']}}
                    Source? {{n['_source']['source_code']}}

                <pre> {{n['_source']['body']}}</pre>
                </p>
                <form class="navbar-form navbar-left" role="search" method="post" action="search">
                    <div class="form-group">
                        <input type="hidden" name="Search" class="form-control" placeholder="Search" value="{{raw}}">
                    </div>
                    <input type="hidden" name="type" value="docs">
                    <button type="submit" class="btn btn-default"> Find in Docs</button>
                </form>
            </a>

            {% endfor %}

            {% if offset >= 20 %}

            <form class="navbar-form navbar-left" role="search" method="post" action="search">
                <div class="form-group">
                    <input type="hidden" name="Search" class="form-control" placeholder="Search" value="{{raw}}">
                </div>
                {% set new_offset = offset - 20 %}
                <input type="hidden" name="ofset" value="{{new_offset}}">
                <button type="submit" class="btn btn-default">Previous</button>
            </form>

            {% endif %}

            <form class="navbar-form navbar-left" role="search" method="post" action="search">
                <div class="form-group">
                    <input type="hidden" name="Search" class="form-control" placeholder="Search" value="{{raw}}">
                </div>
                <input type="hidden" name="offset" value="{{offset}}">
                <button type="submit" class="btn btn-default">Next</button>
            </form>


        </div>
    </div>

</ul>
</ul>
{% endblock %}